/* html {
    overflow: hidden;
} */
body, a, p{
    font-family: arial,sans-serif;
    /* background-color: #666; */
    background: #fff;
    color: #222;
    height: auto;
    margin: auto;

}
div {
    display: block;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
} 
.flex-container > div {
    margin: 3px;
    padding: 7px 3px;
}

div.gmail, div.images {
    padding: 13px 5px;
    font-size: small;
}
.gmail a, .images a {
   text-decoration: none;
   color: black;
} 
.googleApps img {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    opacity: 0.55;
    padding: 7px 0px;
}
.signInBtn button {
    background-color: rgba(0, 119, 255, 0.87);
    color: aliceblue;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
/* border-color: transparent; */
}

.main {
    margin: 10px;
    width: auto;
    height: auto;
}
.googleLogo{
    /* background-color: #609; */
    height: 230px;
    margin-top: 89px;
}
.googleLogo img {
    padding-top:109px;
    width: 272px;
    vertical-align: middle;
    margin-top: 110px;
    padding: 7px 0px;
}
.inputGoogleMic{
    padding-bottom: 2px;
    padding-top: 3px;
    margin-top: -3px;
    width: 632px;
    position: relative;
    line-height: 0;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    white-space: nowrap;
    max-width: 484px;
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border: none;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    width: 450px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 9px 0;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 0px;
    padding-left: 9px;
    border: none;
    border-color: transparent;
}
img.googleMic {
    width: 18px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQ…2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQ…2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC);
    background-position-x: -3px;
    background-position-y: 0px;
    background-size: 24px 24px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 24px 24px;
    display: inline-block;
    height: 23px;
    width: 17px;
    vertical-align: middle;       
}
.btn {
    padding-top: 18px;
    display: block;
    text-align: -webkit-center;
}
button.searchBtn, button.feelingLuckyBtn{
    height: 36px;
    line-height: 27px;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(242, 242, 242);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.lang {
    display: inline-block;
    line-height: 28px;
    font-size: small;
}
.lang p a{
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.lang p a:visited, .googleAd a:visited {
    color: #609;
}

footer {
    display: block;
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}
.ftr{
    margin-left: -27px;
    background: #f2f2f2;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    line-height: 40px;
    min-width: 980px;
    height: auto;
    visibility: visible;
}
.naija{
    margin-left: 30px;
    white-space: nowrap;
    text-align: left;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    border-bottom: 1px solid #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}
.naija p {
    font-size: 15px;
}
.googleAd1 {
    margin-left: 30px;
    white-space: nowrap;
}
.googleAd2 {
    margin-right: 30px;
    float: right;
    white-space: nowrap;
}
.googleAd1 a, .googleAd2 a {
    display: inline-block;
    color: #666;
    padding-left: 27px;
    /* margin: 2px 10px 0; */
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    white-space: nowrap;
}